* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #57b3ff  0%, #be4fbe 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.login-container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 40px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s ease;
}

input:focus {
  border-color: #667eea;
  outline: none;
}

input:focus {
  color: #667eea;
}

button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(45deg, #667eea, #764ba2);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.forgot-password {
  color: #667eea;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.linha-opcoes { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 0 10px;
}

.linha-opcoes a {
  text-decoration: none;
}

.linha-opcoes input {
  display: inline-block;
  width: min-content;
}



/* Responsividade */
@media (max-width: 480px) {
  .login-container {
    padding: 30px 20px;
    margin: 20px;
  }

  h2 {
    font-size: 24px;
  }

  input,
  button {
    padding: 12px;
    font-size: 14px;
  }
}